/*
* Globals
*/
html, body {
	/* 設定body高度為100% 拉到視窗可視的大小 */
	height: 100%;
}

body {
  font-family: Georgia, "Times New Roman", Times, "微軟正黑體", "Microsoft JhengHei", serif;
  color: rgba(0,0,0,0.95);
  background-color: rgb(242, 242, 242);
}


h1, .h1,.h1:hover,
h2, .h2,.h2:hover,
h3, .h3,.h3:hover,
h4, .h4,.h4:hover,
h5, .h5,.h5:hover,
h6, .h6,.h6:hover {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial,"Hiragino Sans GB","Microsoft YaHei", "メイリオ", "맑은 고딕", sans-serif;
  font-weight: normal;
  color: #333;
  text-decoration:none;
}

/*
* img--
*/

/*responsive*/
.blog-archive img,.blog-post img,.banner_div a img
{
	display:block;
	height: auto;
	max-width: 100%;
}


/*
* --img
*/




/*
 * head for nav--
 */

.blog-masthead {
  background-color: #fff;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
		  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #cdddeb;
  text-decoration: none;
}

.blog-nav-item-left
 {
 	float:right;
 }

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #000;
}

.blog-nav
{
	padding-right:10px;
	padding-left:10px;
	min-height:55px;
}

.Brand
 {
 	border: 0.1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
 }

/*
 * --head for nav
 */
 
 
 
 
/*
 * index--
 */

/*jub background*/
.jum-bg
{
	background: url(/resource/images/blog/banner.jpg) center center no-repeat;
	background-size:cover;
	width:100%;
	height:400px;
	margin-bottom: 20px;
}
.jum-filter
{
	background: rgba(0,0,0,0.3);
	width:100%;
	height:400px;
}

/*Blog name and description*/
 
 .blog-index-title {
  margin-top: 150px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}
.blog-index-description {
  font-size: 20px;
  color: #dddddd;
}

 
/*index content*/

.index-blog-main {
  font-size: 18px;
  line-height: 1.5;
  
  margin-bottom:50px;
}

.index-blog-header {
  padding-top: 30px;
  text-align:center;
}

.index-blog-title {
	margin-top: 15px;
  	margin-bottom: 5px;
	font-size: 40px;
}
.index-blog-meta {
  margin-bottom: 50px;
  color: #999;
}

.index-blog-fp
{
	padding-right:30px;
	padding-left:30px;
}
.index-blog-link
{
	text-align:center;
	padding-bottom: 30px;
}
.index-blog-pagination
{
	text-align:center;
}
.index-blog-pagination nav
{
	padding-top:10px;
	padding-bottom:10px;
}

.index_banner_div
{
	/*text-align:center;*/
	width: 100%;
}
.index_banner_div a img
{
	/*margin: 0 auto;*/
	width: 100%;
}

/* Sidebar modules for boxing content */

.sidebar-module {
  padding: 15px;
  padding-bottom: 30px;
  margin-bottom:50px;
  background-color:#ffffff;
}
.sidebar-module-inset {
  padding: 15px;
  /*background-color: #E0F4D5;*/
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module-img
{
	text-align:center;
}
.sidebar-module-description
{
	text-align:center;
	line-height: 26px;
	margin-top: 15px;
	color:#8e8f93;
	font-size: 16px;
}

/*
 * widget
 */
 
 .widget-title
 {
	line-height: 26px;
	opacity: 1;
	visibility: visible;
	
	margin: 10px 0 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
 }
 .widget-title:before 
 {
	content: '';
	display: block;
	background: #EEEEEE;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	left: 0;
	height: 1px;
	width: 100%;
}
.widget-title span 
{
	background: #ffffff;
	display: inline-block;
	padding: 0 15px;
	position: relative;
}


.sidebar_list
{
	margin-bottom: 20px;
}
.sidebar_list_img
{
	width: 60px;
	height: 60px;
	float: left;
}
.sidebar_list_img a img
{
	margin-top: 5px;
	border: 1px solid #ECF0F1;
	width: auto;
	height : auto;
	max-height: 100%;
	max-width: 100%;
}
.sidebar_list_img div
{
	margin-top: 5px;
}
.sidebar_list_img div .fa
{
    color:#999999;
}
.sidebar_list_content
{
	margin-left: 80px;
}
 
/*
 * Pagination
 */
.pager
{
  margin-bottom: 45px;
  text-align: left;
}
.pager > li > a
{
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  margin-left:10px;
}

/*
 * --index
 */



/*
 * view--
 */
 
.blog-article {
  min-height: 80%;
  margin-bottom: 40px;
  
  background-color:#ffffff;
}

.blog-header {
  padding-top: 30px;
  text-align:center;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}



.blog-content {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 30px;
}

.blog-content figure
{
	margin-right: -30px;
  	margin-left: -30px;
}

.blog-post {
  margin-bottom: 30px;
  background-color:#ffffff;
}


.blog-article-back ul
{
	text-align:center;
	width: 100%;
}

.banner_div a img
{
	/*margin: 0 auto;*/
	width: 100%;
}

.banner_div .embed-responsive 
{
	text-align:center;
	width: 100%;
}

/*For post*/
.blog-post-banner textarea
{
	margin-top: 30px;
}
.blog-post-banner button
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.blog-post-submit
{
	margin-top: 10px;
	margin-bottom: 30px;
}


/*
 * --view
 */




/*
 * Footer
 */

.blog-footer {
	width:100%;
	min-height:130px;
  	color: #999;
  	background-color: #323232;
  	border-top: 1px solid #e5e5e5;
}
.blog-footer-content
{
	height: 100%;
	padding: 40px 0;
	text-align: center;
}


@media (max-width:640px){
	.blog-title,.index-blog-title {
		font-size: 26px;
	}
	.blog-description {
		font-size: 16px;
	}
	.index-blog-meta
	{
		font-size: 12px;
	}
	.index-blog-fp
	{
		padding-right:30px;
		padding-left:30px;
	}
}